{block scripts}
	{include parent}
	<script>
		$('#theaters').DataTable($.extend(defaultSettings,{
		}));
	</script>
{/block}
{block content}
<a href={link Manage:} class="btn btn-primary mb-1"><span class="fa fa-plus"></span> {_'ui.theater.createNew'}</a>
<div class="col-md-12">
	<table class="table" id="theaters">
		<thead>
		<tr>
			<th>{_'ui.theater.name'}</th>
		</tr>
		</thead>
		<tbody>
		<tr n:foreach="$theaters as $theater">
			<td>
				<a href={link Manage: $theater->id} class="">{$theater->name}</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>