{block scripts}
	{include parent}
{/block}
{block content}
<div n:if="$userEntity->isAdmin() && $newUsers > 0" class="col-xl-3 col-lg-4 col-md-6">
	<div class="card">
		<div class="card-header">
			{_ui.admin.newRequests} <span class="new-requests">{$newUsers}</span>
		</div>
		<div class="card-body">
			<a href={link :User:Default:newUsers}>{_'ui.homepage.showNewRequests'}</a>
		</div>
	</div>
</div>