{block content}
<div class="">
	<div class="col-md-6">
		<a class="btn btn-secondary mb-2" href={link Default:}>{_'ui.navigation.back'}</a>
		<div class="card">
			<div class="card-header">
				{_'ui.user.manageUser'}
			</div>
			<div class="card-body">
				{control manageUser}
			</div>
		</div>
	</div>
</div>