{block content}
<div class="col-sm-4 ml-auto mr-auto">
	<div class="card">
		<div class="card-header">
			{_ui.signIn.header}
		</div>
		<div class="card-body">
			{control loginForm}
		</div>
	</div>
	<div class="text-center">
		<a href={link Sign:} class="btn btn-link">
			{_ui.signIn.sendRequest}
		</a>
	</div>
</div>
