{block scripts}
	{include parent}
	<script>
		$('#users').DataTable($.extend(defaultSettings,{
		}));
	</script>
{/block}
{block content}
<a href={link Manage:} class="btn btn-primary mb-1"><span class="fa fa-plus"></span> {_'ui.user.createNew'}</a>
<div class="col-md-12">
	<table class="table" id="users">
		<thead>
		<tr>
			<th>{_'ui.user.email'}</th>
			<th>{_'ui.user.name'}</th>
			<th>{_'ui.user.surname'}</th>
		</tr>
		</thead>
		<tbody>
			<tr n:foreach="$users as $us">
				<td>
					<a href={link Manage:default $us->id} class="">{$us->email}</a>
				</td>
				<td>{$us->name}</td>
				<td>{$us->surname}</td>
			</tr>
		</tbody>
	</table>
</div>