{block content}
<div class="col-sm-6 ml-auto mr-auto">
	<a class="btn btn-link" href={link :Site:Homepage:}>{_ui.navigation.back}</a>
	<div class="card">
		<div class="card-header">
			{_ui.signUp.header}
		</div>
		<div class="card-body">
			{control singUpForm}
		</div>
	</div>
</div>