<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}{_'ui.page.cimrmanTitle'}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*}
	{*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css?{filemtime('css/style.css')}">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap/bootstrap-datetimepicker.min.css?{filemtime('css/bootstrap/bootstrap-datetimepicker.min.css')}">
	{*<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />*}
	{*<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />*}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css"/>
	{block head}{/block}
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<header class="navbar navbar-dark bd-navbar">
		{if $user->isLoggedIn()}
			<a n:href="logout!" class="text-primary">
				{_ui.logout.logout}
			</a>
		{/if}
	</header>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<div class="container-fluid">
		<div class="row">
			<div n:if="$user->isLoggedIn()" class="col-lg-2 sidebar">
				<ul class="nav nav-sidebar">
					<li n:class="$presenter->isLinkCurrent(':Site:Homepage:') ? active">
						<a n:href=":Site:Homepage:default">
							<i class="fa fa-home" aria-hidden="true"></i>
							{_'ui.menu.dashboard'}
						</a>
					</li>
					<li n:class="$presenter->isLinkCurrent(':Ticket:Default:') ? active">
						<a n:href=":Ticket:Default:">
							<i class="fa fa-ticket" aria-hidden="true"></i>
							{_'ui.menu.printing'}
						</a>
					</li>
					<li class="headline text-uppercase">
						{_'ui.menu.managing'}
					</li>
					<li n:class="$presenter->isLinkCurrent(':User:Default:') ? active">
						<a n:href=":User:Default:">
							<i class="fa fa-users" aria-hidden="true"></i>
							{_'ui.menu.users'}
						</a>
					</li>
					<li n:class="$presenter->isLinkCurrent(':Theater:Default:') ? active">
						<a n:href=":Theater:Default:">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							{_'ui.menu.theaters'}
						</a>
					</li>
					<li n:class="$presenter->isLinkCurrent(':Event:Default:') ? active">
						<a n:href=":Event:Default:">
							<i class="fa fa-calendar-o" aria-hidden="true"></i>
							{_'ui.menu.events'}
						</a>
					</li>
					<li n:class="$presenter->isLinkCurrent(':Performance:Default:') ? active">
						<a n:href=":Performance:Default:">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							{_'ui.menu.performances'}
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-12 col-lg-offset-2 {if $user->isLoggedIn()}col-lg-10{/if} main py-3">
				{*{control breadcrumbs}*}
				{include content}
			</div>
		</div>
	</div>

	{block scripts}
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/main.js?{filemtime('js/main.js')}"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
		<script src="{$basePath}/js/bootstrap-datetimepicker.min.js?{filemtime('js/bootstrap-datetimepicker.min.js')}"></script>
		<script type="text/javascript">
			$(function () {
				$('.datetimepicker-input').datetimepicker({
					buttons: {
						showToday: false,
						showClear: true,
						showClose: true
					},
					format: 'D.M.YYYY HH:mm'
				});

				// Activate DateTime picker: just use class datetimepicker on your input
				$('.datetimepicker').datetimepicker({
					showClose: true,
					showClear: true,
					format: 'D.M.YYYY HH:mm' // @see http://momentjs.com/docs/#/displaying/format/
				});

				// Activate DateTime(min) picker: just use class datetimepicker on your input
				$('.datetimerpicker').datetimepicker({
					stepping: 1,
					icons: {
						today: 'fa fa-calendar-check-o',
						date: 'fa fa-calendar',
						close: 'fa fa-check'
					},
					format: 'D.M.YYYY H:mm', // @see http://momentjs.com/docs/#/displaying/format/
					useCurrent: false
				});

				// Activate Time picker: just use class datepicker on your input
				$('.timepicker').datetimepicker({
					showClose: true,
					showClear: true,
					format: 'H:mm',  // @see http://momentjs.com/docs/#/displaying/format/
					useCurrent: false
				});

				// Activate Date picker: just use class datepicker on your input
				$('.datepicker').datetimepicker({
					showClose: true,
					showClear: true,
					format: 'D.M.YYYY',  // @see http://momentjs.com/docs/#/displaying/format/
					useCurrent: false
				});

				// Activate inline date picker: just use class datepicker-inline on your input
				$('.datepicker-inline').datetimepicker({
					inline: true,
					format: 'D.M.YYYY', // @see http://momentjs.com/docs/#/displaying/format/
					useCurrent: true
				});

				$('.datepicker-db').datetimepicker({
					format: 'YYYY-MM-DD'
				});
			});
		</script>
		{*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>*}
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>
		<script>
			defaultSettings = {
				language: {
					"sEmptyTable":     "Tabulka neobsahuje žádná data",
					"sInfo":           "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů",
					"sInfoEmpty":      "Zobrazuji 0 až 0 z 0 záznamů",
					"sInfoFiltered":   "(filtrováno z celkem _MAX_ záznamů)",
					"sInfoPostFix":    "",
					"sInfoThousands":  " ",
					"sLengthMenu":     "Zobraz záznamů _MENU_",
					"sLoadingRecords": "Načítám...",
					"sProcessing":     "Provádím...",
					"sSearch":         "Hledat:",
					"sZeroRecords":    "Žádné záznamy nebyly nalezeny",
					"oPaginate": {
						"sFirst":    "První",
						"sLast":     "Poslední",
						"sNext":     "Další",
						"sPrevious": "Předchozí"
					},
					"oAria": {
						"sSortAscending":  ": aktivujte pro řazení sloupce vzestupně",
						"sSortDescending": ": aktivujte pro řazení sloupce sestupně"
					}
				}
			};
		</script>
	{/block}
</body>
</html>
