body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

ul {
	list-style: none;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

/** Navigation **/
@media (min-width: 1200px){
	.sidebar {
		/*position: fixed;
		top: 0px;
		bottom: 0;
		left: 0;
		z-index: 1000;*/
		display: block;
		padding: 0 20px;
		overflow-x: hidden;
		overflow-y: auto;
		border-right: none;
		box-shadow: none;
		float: left;
	}
}

.nav {
	display: inherit;
	flex-wrap: nowrap;
	border-right: none;
	box-shadow: none;
}

.nav>li {
	position: relative;
	display: block;
	border-bottom: 1px solid #f9eaea;
}
.nav>li.headline {
	border-bottom: none;
	padding: 5px 5px 5px 19px;
	background-color: #c69999;
	color: white;
}

.nav>li.active {
	border-bottom: none;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #ad7070;
	font-size: 14px;
	font-weight: 400;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	color: #c60000;
	background-color: #fdfafa;
}

.nav>li.active a {
	color: #c60000;
	background-color: #fdfafa;
	border-left: 4px solid #c60000;
	padding-left: 10px;
}

.nav>li:last-child {
	border-bottom: none;
}

.nav-sidebar i.fa {
	width: 25px;
	text-align: center;
	font-size: 1.1em;
}

.nav-sidebar {
	/*margin-right: -21px;
	margin-bottom: 0px;*/
	margin-left: -20px;
	/*border-right: 1px solid #e7e7e7;
	box-shadow: 0px 0px 16px 0px grey;*/
	position: relative;
	overflow-y: auto;
	top: 0px;
	bottom: 0px;
}

.color{
	width: 60px;
	height: 50px;
	cursor: pointer;
}

header {
	background-color: #c69999;
	height: 45px;
}

.new-requests{
	background-color: red;
	padding: 3px 11px 5px;
	border-radius: 30px;
	color: white;
	font-weight: 800;
}